.content {
    width: 100%;
    text-align: center;
}

.contentHeight {
    height: 90vh;
}

.w100 {
    width: 100%;
}

.scrollable {
    max-height: 85vh;
    overflow: auto;
    scrollbar-color: #8685ad #2f2f37;
    padding-right: 8px;
}

.scrollable::-webkit-scrollbar {
    width: 8px;
}

.scrollable::-webkit-scrollbar-thumb {
    background: #8685ad;
}

.scrollable::-webkit-scrollbar-track {
    background: #2f2f37;
}

.errorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}