.container {
    display: flex;
    width: 600px;
    flex-direction: column;
}

.cardItem {
    width: 272px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.cardItem img {
    width: 250px;
    height: auto;
    transition: 0.5s;
}

.cardItem > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardItem:hover {
    color: #8585AD;
}

.cardItem:hover img {
    scale: 1.2;
}

.cardItem p,
.cardItem .CurrencyIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollable {
    max-height: 70vh;
    overflow: auto;
}

.scrollable {
    scrollbar-color: #8685ad #2f2f37;
}

.scrollable::-webkit-scrollbar {
    width: 8px;
}

.scrollable::-webkit-scrollbar-thumb {
    background: #8685ad;
}

.scrollable::-webkit-scrollbar-track {
    background: #2f2f37;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.container_flex {
    display: flex;
}

.textLeft {
    text-align: left;
}

.faSpinner {
    color: #801AB2;
}

@media screen and (max-width: 960px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .container_flex {
        width: 100%;
    }

    .container_flex div {
        width: 33%;
        min-width: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cardItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ingredientsList {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: calc(4 * 4px);
    }

    .scrollable {
        width: 100%;
    }

    .ingredientImage {
        display: flex;
        justify-content: center;
        align-self: center;
    }

    .ingredientImage img {
        width: 100%;
    }

    .nutrientContainer {
        gap: 8px;
    }
}

@media screen and (max-width: 375px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .container_flex {
        width: 100%;
    }

    .container_flex div {
        width: 33%;
        min-width: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cardItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ingredientsList {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: calc(4 * 4px);
    }

    .scrollable {
        width: 100%;
    }

    .ingredientImage {
        display: flex;
        justify-content: center;
        align-self: center;
    }

    .ingredientImage img {
        width: 100%;
    }

    .nutrientContainer {
        gap: 8px;
    }
}
