.wrapper {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    margin: auto;
    text-align: center;
}

.link {
    color: var(--color-title);
}

.errorMessage {
    color: #E52B1A;
    text-align: center;
}

@media screen and (max-width: 960px) {
    .container {
        max-width: 100%;
    }
    .content {
        padding: 0px 8px;
    }
    .inputEmail, .inputPwd, .inputText, .inputName {
        display: flex;
        width: 100%;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 375px) {
    .container {
        max-width: 100%;
    }
    .content {
        padding: 0px 8px;
    }
    .inputEmail, .inputPwd, .inputText, .inputName {
        display: flex;
        width: 100%;
        margin-bottom: 24px;
    }
}