.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    z-index: 1056;

    /* min-width: 720px; */
}

.modalContent {
    position: relative;
    border-radius: 40px;
    background: #1C1C21;
    text-align: center;

    /* width: 100%; */
}

.modalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* min-width: 640px; */
}

.modalNoHeader {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    /* min-width: 640px; */
}

.closeIcon:hover {
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .modal {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modalContent {
        width: 100%;
        min-width: 0%;
    }
}

@media screen and (max-width: 375px) {
    .modal {
        /* width: 100%; */
    }

    .modalContent {
        width: 100%;
        min-width: 0%;
    }
}