.constructorElement {
    background: #1C1C21;
}

.scrollableContentWrapper {
    max-height: 65vh;
    overflow: auto;
}

.scrollableContentWrapper {
    scrollbar-color: #8685ad #2f2f37;
}

.scrollableContentWrapper::-webkit-scrollbar {
    width: 8px;
}

.scrollableContentWrapper::-webkit-scrollbar-thumb {
    background: #8685ad;
}

.scrollableContentWrapper::-webkit-scrollbar-track {
    background: #2f2f37;
}

.scrollableContent {
    display: flex;
    flex-direction: column;
    gap: 16px 0px;
}

.scrollableContent svg:first-child {
    cursor: grab;
}

.scrollableContentWrapper {
    max-height: 454px;
    overflow-y: auto;

}