.flexContainer div>svg {
    margin-right: 8px;
    cursor: grab;
}

.infoContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.infoContainerItem {
    display: flex;
    align-items: center;
}

.infoContainerItem svg {
    width: 33px;
    height: 33px;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;

    min-height: 436px;
}

.dropIndicator {
    scale: 0.95;
}

button {
    cursor: crosshair;
}

.modalContent {
    display: flex;
    flex-direction: column;
}

.faSpinner {
    color: #801AB2;
}