.container {
    display: flex;
    width: 600px;
    flex-direction: column;
}

.flexContainer div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flexContainer div>svg {
    margin-right: 8px;
    cursor: grab;
}

.infoContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.infoContainerItem {
    display: flex;
    align-items: center;
}

.infoContainerItem svg {
    width: 33px;
    height: 33px;
}

.scrollable {
    overflow-y: scroll;
    scrollbar-color: #8685ad #2f2f37;
    max-height: 454px;
}

.scrollableContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.scrollable::-webkit-scrollbar {
    width: 8px;
}

.scrollable::-webkit-scrollbar-thumb {
    background: #8685ad;
}

.scrollable::-webkit-scrollbar-track {
    background: #2f2f37;
}

.constructorElement {
    background: #1C1C21;
}

.textShadows {
    text-shadow: 0 0 16px rgba(51, 51, 255, .25), 0 0 8px rgba(51, 51, 255, .25), 0 4px 32px rgba(51, 51, 255, .5);
}