.flexContainer div>svg {
    margin-right: 8px;
    cursor: grab;
}

.infoContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.infoContainerItem {
    display: flex;
    align-items: center;
}

.infoContainerItem svg {
    width: 33px;
    height: 33px;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;

    min-height: 436px;
    /* height: 50vh; */
    /* border: 2px dashed blue; */
    /* padding: 20px; */
}

.dropIndicator {
    border: 2px dashed blue;
    /* background: #ff69b410; */
    /* background-color: lightblue; */
    /* Дополнительные стили по вашему усмотрению */
}

button {
    cursor: crosshair;
}